@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');


::placeholder {
  color: blue-500 !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .force-style{
      font-size: 7px !important;
    }
    
  }
}

html{
  height: webkit-fill-available;
}

.debug{
  border: 3px solid red !important;
}
.debug > * {
  border: 3px solid green !important;
}
.debug > * > * {
  border:3px solid blue !important;
}


.debug2{
  border: 3px solid orange !important;
}
.debug2 > * {
  border: 3px solid black !important;
}
.debug2 > * > * {
  border:3px solid teal !important;
}





