# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://root:root@database:5432/transcendance?schema.prisma=public"

#JWT_SECRET
JWT_SECRET = "huntersecret"

#42 API
CLIENT_ID = "u-s4t2ud-efcc52d3d497799650f5177ac49c231fe65b62a908ce37557ba9c97b5719e2f1"
SECRET = "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"
REDIRECT_URI = "http://localhost:3000/auth/callback"