# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://root:root@database:5432/transcendance?schema.prisma=public"

#JWT_SECRET
JWT_SECRET = "huntersecret"

#42 API
CLIENT_ID = "u-s4t2ud-90d199e8a802855d4115c0246913641ec665b74bdc2c7b0b56a22818385ae257"
SECRET = "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"
REDIRECT_URI = "http://localhost:3000/auth/callback"