# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://root:root@database:5432/transcendance?schema.prisma=public"

#JWT_SECRET
JWT_SECRET = "huntersecret"

#42 API
CLIENT_ID = "u-s4t2ud-cd43229adef4fc1aec8b5e9a3e5527fbfc9cca2027ec4c38b34ba83567d581e2"
SECRET = "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"
REDIRECT_URI = "http://localhost:3000/auth/callback"

# APP_URI=